## # Introduction
<p><img src="https://i.imgur.com/kjWF1So.jpg" alt="Different characters on a computer screen"></p>
<p>According to a 2019 <a href="https://storage.googleapis.com/gweb-uniblog-publish-prod/documents/PasswordCheckup-HarrisPoll-InfographicFINAL.pdf">Google / Harris Poll</a>, 24% of Americans have used common passwords, like <code>abc123</code>, <code>Password</code>, and <code>Admin</code>. Even more concerning, 59% of Americans have incorporated personal information, such as their name or birthday, into their password. This makes it unsurprising that 4 in 10 Americans have had their personal information compromised online. Passwords with commonly used phrases and personal information makes cracking a password drastically easier.</p>
<p>You may have noticed over the years that password requirements have increased in complexity, including recommendations to change your passwords every couple of months. Compiled from industry recommendations, below is a list of passwords requirements you will be asked to test: </p>
<p><strong>Password Requirments:</strong></p>
<ol>
<li>Must be at least 10 characters in length</li>
<li>Must contain at least:<ul>
<li>one lower case letter </li>
<li>one upper case letter </li>
<li>one numeric character </li>
<li>one non-alphanumeric character</li></ul></li>
<li>Must not contain the phrase <code>password</code> (case insensitive)</li>
<li>Must not contain the user's first or last name, e.g., if the user's name is <code>John Smith</code>, then <code>SmItH876!</code> is not a valid password.</li>
</ol>
<p>Here is the dataset that you will investigate this project:</p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/logins.csv</b></div>
Each row represents a login credential. There are no missing values and you can consider the dataset "clean".
<ul>
    <li><b>id:</b> the user's unique ID.</li>
    <li><b>username:</b> the username with the format {firstname}.{lastname}.</li>
    <li><b>password:</b> the password that may or may not meet the requirements. <i>Note, passwords should never be saved in plaintext, always encrypt them when working with real live passwords!</i></li>
</ul>
</div>
<p>Warning: This dataset contains some <strong>real</strong> passwords leaked from <strong>real</strong> websites. These passwords have been filtered, but may still include words that are explicit and offensive.</p>
<p>From here on out, it will be your task to explore and manipulate the existing data until you can answer the two questions described in the instructions panel. Feel free to import as many packages as you need to complete your task, and add cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><strong>Note:</strong> To complete this project, you need to know how to manipulate strings in pandas DataFrames and be familiar with regular expressions. Before starting this project we recommend that you have completed the following courses: <a href="https://learn.datacamp.com/courses/data-cleaning-in-python">Data Cleaning in Python</a> and <a href="https://learn.datacamp.com/courses/regular-expressions-in-python">Regular Expressions in Python</a>.</p>

In [89]:
import pandas as pd

In [90]:
df = pd.read_csv('datasets/logins.csv')

In [91]:
df.head()

   id         username               password
0   1   vance.jennings         vanceRules888!
1   2   consuelo.eaton  Mail_Pen%Scarlets.414
2   3  mitchel.perkins               Z00+1960
3   4   odessa.vaughan              D-rockyou
4   5   araceli.wilder             Araceli}r3

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982 entries, 0 to 981
Data columns (total 3 columns):
id          982 non-null int64
username    982 non-null object
password    982 non-null object
dtypes: int64(1), object(2)
memory usage: 23.1+ KB

In [93]:
df['firstname'] = df['username'].apply(lambda x: x.split('.')[0])

In [94]:
df['lastname'] = df['username'].apply(lambda x: x.split('.')[1])

In [95]:
df.head()

   id         username               password firstname  lastname
0   1   vance.jennings         vanceRules888!     vance  jennings
1   2   consuelo.eaton  Mail_Pen%Scarlets.414  consuelo     eaton
2   3  mitchel.perkins               Z00+1960   mitchel   perkins
3   4   odessa.vaughan              D-rockyou    odessa   vaughan
4   5   araceli.wilder             Araceli}r3   araceli    wilder

In [96]:
#Filter password more than 10 chars length
valid = df[df['password'].str.len()>=10]

In [97]:
lcase = valid['password'].str.contains('[a-z]')
ucase = valid['password'].str.contains('[A-Z]')
digit = valid['password'].str.contains('\d')
nan = valid['password'].str.contains('\W')

pd.concat([valid, lcase, ucase, digit, nan], axis=1).head()

,id,username,password,firstname,lastname,password,password,password,password
0,1,vance.jennings,vanceRules888!,vance,jennings,True,True,True,True
1,2,consuelo.eaton,Mail_Pen%Scarlets.414,consuelo,eaton,True,True,True,True
4,5,araceli.wilder,Araceli}r3,araceli,wilder,True,True,True,True
5,6,shawn.harrington,126_239_123,shawn,harrington,False,False,True,False
6,7,evelyn.gay,`4:&iAt$'o~(,evelyn,gay,True,True,True,True

In [98]:
valid_pass = lcase & ucase & digit & nan

In [99]:
valid = valid[valid_pass]

In [100]:
valid.head()

   id        username               password firstname  lastname
0   1  vance.jennings         vanceRules888!     vance  jennings
1   2  consuelo.eaton  Mail_Pen%Scarlets.414  consuelo     eaton
4   5  araceli.wilder             Araceli}r3   araceli    wilder
6   7      evelyn.gay           `4:&iAt$'o~(    evelyn       gay
8   9     gladys.ward            =Wj1`i)xYYZ    gladys      ward

In [101]:
#filter password non containing word 'password' (insensitive)
notvalid = valid['password'].str.contains('password', case=False)
valid = valid[~notvalid]

In [102]:
def validity(password, firstname, lastname):
    if firstname in password.lower():
        return False
    elif lastname in password.lower():
        return False
    else:
        return True

In [103]:
valid['valid_password'] = valid.apply(lambda x: validity(x['password'], x['firstname'], x['lastname']), axis=1)

In [104]:
valid.head()

,id,username,password,firstname,lastname,valid_password
0,1,vance.jennings,vanceRules888!,vance,jennings,False
1,2,consuelo.eaton,Mail_Pen%Scarlets.414,consuelo,eaton,True
4,5,araceli.wilder,Araceli}r3,araceli,wilder,False
6,7,evelyn.gay,`4:&iAt$'o~(,evelyn,gay,True
8,9,gladys.ward,=Wj1`i)xYYZ,gladys,ward,True

In [105]:
valid = valid[valid['valid_password']].drop('valid_password',axis=1)

In [106]:
valid.head()

    id        username                    password firstname lastname
1    2  consuelo.eaton       Mail_Pen%Scarlets.414  consuelo    eaton
6    7      evelyn.gay                `4:&iAt$'o~(    evelyn      gay
8    9     gladys.ward                 =Wj1`i)xYYZ    gladys     ward
13  14   jamie.cochran  Deviants.Assists.Impede+24     jamie  cochran
15  16      lorrie.gay                Q0G:[@u9*_`_    lorrie      gay

In [107]:
not_valid = df[~df['id'].isin(valid['id'])]

In [108]:
bad_pass = round(len(not_valid)/len(df),2)
bad_pass

0.75

In [109]:
email_list = not_valid.sort_values(by='username')['username']